<a href="https://www.youtube.com/watch?v={{ id }}" target="_blank">
  <img class="card-img-top lazy" data-original="{{ ico }}" alt="{{ title }}"/>
</a>
<div class="card-block">
  <h4 class="card-title">{{ author }}</h4>
  <p class="card-text">{{ title }}</p>
</div>
<div class="card-footer">
  <small class="text-muted">{{#digital}}{{ views }}{{/digital}} views</small>
</div>